body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Courier New", Courier, monospace;
}
div {
  margin: 5px;
  padding: 10px;
}
.main {
  margin: 10px auto;
  width: 700px;
  height: 650px;
  border: none;
  box-shadow: 0 0 10px gray;
}
.header {
  text-align: center;
  font-size: 20px;
  background-color: brown;
}
.form_div {
  display: flex;
  background-color: coral;
  font-size: 14px;
}
.form_div > form > input[type="text"] {
  color: black;
  height: 20px;
  width: 200px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  margin-left: 20px;
  padding: 5px;
}
input[type="submit"] {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: green;
  margin: 10px;
  margin-left: 20px;
  border: none;
  /* padding: 10px; */
}
input[type="submit"]:hover {
  background-color: lightgreen;
}
.packingList {
  height: 260px;
  margin-bottom: 20px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  /* scroll-behavior: auto; */
}
.footer {
  background-color: chartreuse;
  font-weight: bold;
  text-align: center;
  height: 50px;
  margin-bottom: 5px;
}
.packingList > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.packingList > ul > li {
  margin: 3px;
  padding: 2px;
  background-color: cadetblue;
  border-radius: 10px;
  /* border: 1px solid black; */
}
li > input,
button,
span {
  margin: 3px;
}
